/* GG font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600&display=swap");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
  border: none;
}

/* global variables */
:root {
  --bg-color: #000;
  --second-bg-color: #171414;
  --text-color: #fff;
  --main-color: #28d999;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 9%;
  background: rgba(34, 33, 33, 0.7);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.logo {
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}
.logo:hover {
  scale: calc(1.1);
  text-shadow: 0 0 15px var(--main-color);
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}